ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  background-color: #4ba632;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: rgb(246, 22, 63);
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4ba632;
}

.login-user {
   height: 1em;
   margin-right: 0.5em;
   vertical-align: bottom;
}
