    body{
        background-color: rgb(218, 157, 16);
    }
    
    
    header {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
       
    }

    main {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
    }

    h1 {
        color: rgb(12, 12, 11);
        text-align: center;
        padding: 20px;
    }

    ul {
        list-style-type: none;
        margin: 50;
        padding: 50;
        overflow: hidden;
        color: #333;
    }